<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="AmazonBrawl.P1.PhysicalHP" value="0x4DFC85" />
    <add key="AmazonBrawl.P1.LustPercentage" value="0x4DFD2F" />
    <add key="AmazonBrawl.P1.IsPinned" value="0x4DFD43" />
    <add key="AmazonBrawl.P1.PinningOrgasm" value="0x4DFD33" />
    <add key="AmazonBrawl.P1.FinisherTotalCount" value="0x4DFD50" />

    <add key="AmazonBrawl.P2.PhysicalHP" value="0x4EDCC4" />
    <add key="AmazonBrawl.P2.LustPercentage" value="0x4EDD6E" />
    <add key="AmazonBrawl.P2.IsPinned" value="0x4EDD72" />
    <add key="AmazonBrawl.P2.PinningOrgasm" value="0x4EDD82" />
    <add key="AmazonBrawl.P2.FinisherTotalCount" value="0x4DFD50" />

    <add key="RRXX.P1.LethalBarPoints" value="0x1C7DFF117" />
    <add key="RRXX.P1.SubmissionPercent" value="0x1B0674688" />
    <add key="RRXX.P1.HumHPPercent" value="0x1A7F7F1EC" />
  </appSettings>
</configuration>
